/* colour palette 
F2D7D9 pink
D3CEDF purple
9CB4CC blue
748DA6 darker blue
*/


/* main body */

body {
  background-color: #D3CEDF;
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}


/* flex comlumn */

.row {
  display: flex;
}

.column {
  flex: 50%;
}


/* Mobile Screen Size ( 600px --> )*/

@media screen and (max-width: 600px) {
  /* makes the columns responsive*/
  .column {
    width: 100%;
  }
}