/* colour palette 
F2D7D9 pink
D3CEDF purple
9CB4CC blue
748DA6 darker blue
*/


/* main body */

body {
  background-color: #D3CEDF;
  padding: 0px;
  margin: 0px;
  font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.hero-image {
  width: 100%;
}


/* flex comlumn */

.row {
  display: flex;
  padding: 2px;
  margin: 2px;
}

.column {
  flex: 30%;
}


/* */


/*Paw button*/

.button {
  width: 30%;
  height: 30%;
}

.button:hover {
  background-color: #748DA6;
  /* Green */
  color: white;
}

.button4 {
  border-radius: 12px;
}


/*Footer */

footer {
  background-color: #748DA6;
}


/* Mobile Screen Size ( 600px --> )*/

@media screen and (max-width: 600px) {
  /* makes the columns responsive*/
  .column {
    width: 100%;
  }
}